<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="font-weight-bold">Smart Contact Manager</h1>
            <p>
                Start Collecting Your contacts In Very Smarter Way. We Provide
                Very Efficient And Smarter Way of handling Contacts.
            </p>
            <a th:href="@{/signup}" class="btn bg-primary btn-lg text-white">Get Started</a>
        </div>

        
    </section>

    <section class="body">
        <div>
            <h1>
                <!-- Smart Home -->
            </h1>
        </div>
    </section>
</body>
</html>